<!DOCTYPE html>
<html ng-app="appOne" >
  
  <head>
    <link rel="stylesheet" type="text/css" href="css/BAmain.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/BAangular.js"></script>
  </head>

  <body>

    <h1>Battle App</h1>

    <div id="main" ng-controller='ctrl'>
      
      <ul>
    		<li ng-repeat="product in productsOnScreen track by $index" ng-click="update($index)" 
        id="product{{productsOnScreen.indexOf(product)}}"> 

    			<img src="{{product.image}}"> 
    			<p>{{product.name}}</p>

    		</li>
    	</ul>

    </div>  
    
  </body>


</html>